

    <div>
        <h1>Submitted Information</h1>
        <p>Name: @Context.Session.GetString("Name")</p>
        <p>Dojo Location: @Context.Session.GetString("Location")</p>
        <p>Favorite Language: @Context.Session.GetString("Language")</p>
        <p>Comments: @Context.Session.GetString("Comments")</p>
        <a href="/">Go Back</a>
    </div>

